.home-container {
  padding: 20px;
  font-family: Roboto;
}

.categories-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-bottom: 2px solid #eee;
}

.category-tab {
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 20px;
  border: none;
}

.category-tab:hover {
  background-color: transparent;
}

.category-tab.active {
  background-color: transparent;
  color: #ff7043;
  border-bottom: 2px solid #ff7043;
}

.dishes-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
