.nav-bar-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 1px 0px 1px rgb(245, 242, 242);
  font-family: Roboto;
}
.restrant-name {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}
.cart-con {
  margin-left: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
}
.add-cart-btn {
  background-color: transparent;
  border: none;
  position: relative;
}
.cart-name {
  display: none;
}
.cart-badge {
  color: #ffffff;
  background-color: #ff7043;
  font-size: 10px;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .cart-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
  .cart-name {
    display: inline;
    color: black;
    font-size: 14px;
  }
}
